.flex {
    display:flex;
}

.wrap {
    flex: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content:flex-end;
}

.align-center {
     align-items: center;
}

.space-between {
    justify-content: space-between;
}

