.home-main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: whitesmoke;
}

.home-header {
    font-size: 40px;
}

.home-app-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
}

.app-link {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: lightblue;
    cursor: pointer;
    box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
}

.app-link:hover {
    background-color: rgba(35, 102, 202, 0.692);
}