* {
    box-sizing: border-box;
}

/* clears the default link coloring */
a:-webkit-any-link {
    color: unset;
    text-decoration: unset;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}
/* MAIN APP NAVBAR */

.main-navbar {
    height: 15vh;
    display: flex;
    justify-content: center;
    background-color: rgba(91, 209, 238);
    color: black;
}

.main-navbar .navbar-item {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN APP DISPLAY (body + footer) */

.display-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 82vh;
}

/* MAIN APP FOOTER */

.main-footer {
    width: 98vw;
    text-align: center;
    margin-bottom: 10px;
}
