* {
    box-sizing: border-box;
}

body {
    position: relative;
    /* padding-bottom: 6rem; */
}

router-links a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: none;
}

/* MAIN APP NAVBAR */

.main-navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: orange;
    color: black;
}

.main-navbar .navbar-item {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN APP FOOTER */

.main-footer {
    position: absolute;
    bottom: 0;
    width: 98vw;
    text-align: center;
    margin-bottom: 10px;
}