
.missKeep-wrapper{
    background-color: lightsteelblue;
    max-width: 100rem;
    height: 90vh;
}
.missKeep-wrapper h1{
   padding: 0;
   margin: 0;
}

.missKeep-wrapper ul{
  padding: 0;
 }

.missKeep-wrapper img {
    width: 6rem;
    height: auto;
    object-fit: contain;
}

.missKeep-wrapper .notes-container{
   max-width:30rem;
   background-color:lightgrey;
}
.missKeep-wrapper .img-container{
    /* max-width:10rem; */
    background-color: beige;;
 }

 /* Keep-mages */
 .keep-images ul {
    margin: 1rem 1rem 1rem 1rem;
    outline: 1px solid #0053ba;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: lightgray;
    max-width:90rem;
    flex-wrap: wrap;
    color:snow;
 }
 .keep-images li {
    margin: 0 0.5rem 0 0.5rem
 }