.email-filter {
    width: 110px;
    height: 30px;
    border: 1px solid #5bd1ee;
    background-color: #f4f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}    
    