@import url(email-list.css);
@import url(email-preview.css);
@import url(email-details.css);
@import url(email-compose.css);
@import url(email-status.css);
@import url(email-filter.css);

.email-app-body {
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.email-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.emails-container {
    display: flex;
    flex-direction: row;
}

.email-list-wrapper {
    margin-top: 3px;
}

.email-list-nav {
    display: flex;
    justify-content: space-between;
}

.info-container {
    height: 70vh;
    width: 80vw;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    box-shadow: 0px 0px 100px 12px rgba(0,0,0,0.6);
}

.compose-btn {
    width: 140px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.filter-select {
    width: 70px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}