.single-email {
    background-color: rgba(91, 209, 238, 0.7);
    border: 1px solid black;
    margin: 0 1px 1px 1px;
    padding-left: 5px;
    width: 272px;
    max-width: 272px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.single-email:hover {
    background-color: rgb(212, 159, 159, 0.7);
}

@media (max-width: 500px) {
    .single-email {
        width: 94vw;
        max-width: 94vw;
    }
}

.read-email {
    background-color: rgba(245, 245, 245, 0.7);
}

.email-preview-body, .email-preview-subject, .email-preview-sender {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-preview-center {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.email-sender-time {
    width: 25%;
}