.single-email {
    background-color: rgba(91, 209, 238, 0.7);
    border: 1px solid black;
    margin: 0 1px 1px 1px;
    padding-left: 5px;
    width: 272px;
    max-width: 272px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.single-email:hover {
    background-color: lightgrey;
}

.read-email {
    background-color: whitesmoke;
}

.email-preview-body, .email-preview-subject, .email-preview-sender {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}